h1 {
color: white;
padding: 30px;
}

body{
background-image: url("/images/th.jpg");
height: 150vh;
background-repeat: no-repeat;
background-size: cover;

}

p{
    color: white;
}
#instructionsh1{
    color: white;
}
