h1 {
color: white;
padding: 30px;
}

body{
background-image: url("/images/open-bar-space-1920x1080-wallpaper-9110.jpg");
height: 150vh;
background-repeat: no-repeat;


}

p{
    color: white;
}
#instructionsh1{
    color: white;
}
